/* Контейнер страницы */
.history-container {
    text-align: center;
    /*margin-top: 50px;*/
    padding: 20px;
    background-image: url('../assets/images/main-final-tochno.svg'); /* Указываем путь к изображению */
    background-size: cover; /* Масштабируем изображение, чтобы покрыть весь фон */
    background-position: center; /* Центрируем изображение */
    /*background-repeat: no-repeat; !* Отключаем повторение изображения *!*/
    font-family: Arial, sans-serif;
    line-height: 1.6;
    min-height: 100vh; /* Устанавливает высоту экрана */
    /*display: flex;*/
    align-items: center;
    justify-content: center;
}

/* Заголовок страницы */
.history-title {
    color: #000000;
    margin-bottom: 30px;
}

/* Абзацы текста */
.history-paragraph {
    font-size: 1.5rem;
    margin: 20px auto;
    max-width: 800px;
    color: #272626;
}

/* Подзаголовок */
.history-subtitle {
    color: #000000;
    margin-top: 40px;
}

/* Стили для ссылок */
.history-a {
    display: block; /* Отображение как блочный элемент, чтобы ссылки шли друг под другом */
    font-size: 1.5rem;
    color: #2a5d9e;
    text-decoration: none; /* Убираем подчеркивание */
    margin: 10px auto; /* Отступы между ссылками */
    max-width: 800px; /* Ограничиваем ширину для центрирования */
    word-break: break-word; /* Разрешаем перенос длинных ссылок */
}

/* Стили для ссылки при наведении */
.history-a:hover {
    color: #1d3f6e; /* Изменяем цвет ссылки при наведении */
    text-decoration: underline; /* Добавляем подчеркивание */
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
    .history-container {
        padding: 25px;
        overflow-x: hidden; /* Убираем горизонтальный скроллинг */
    }

    .history-title {
        font-size: 1.8rem; /* Уменьшаем размер заголовка */
        margin-bottom: 20px;
        /margin-right: 7px;
    }

    .history-paragraph,
    .history-a {
        font-size: 1.2rem; /* Уменьшаем шрифт */
        /margin: 15px auto;
        max-width: 100%; /* Гарантируем, что текст не выйдет за пределы экрана */
        word-wrap: break-word; /* Переносим длинные слова */
        /margin-right: 7px;
    }

    .history-subtitle {
        font-size: 1.5rem; /* Уменьшаем размер подзаголовков */
        margin-top: 30px;
    }

    .history-a {
        margin: 8px auto;
    }
}

@media (max-width: 425px) {
    .history-container {
        padding: 25px;
        overflow-x: hidden; /* Убираем горизонтальный скроллинг */
    }

    .history-title {
        font-size: 1.8rem; /* Уменьшаем размер заголовка */
        margin-bottom: 20px;
        margin-right: 7px;
    }

    .history-paragraph,
    .history-a {
        font-size: 1.2rem; /* Уменьшаем шрифт */
        /margin: 15px auto;
        max-width: 100%; /* Гарантируем, что текст не выйдет за пределы экрана */
        word-wrap: break-word; /* Переносим длинные слова */
        margin-right: 7px;
    }

    .history-subtitle {
        font-size: 1.5rem; /* Уменьшаем размер подзаголовков */
        margin-top: 30px;
        margin-right: 7px;
    }

    .history-a {
        /margin: 8px auto;
        margin-right: 7px;
    }

    .history-paragraph-2 {
        font-size: 1.2rem; /* Уменьшаем шрифт */
        max-width: 100%; /* Гарантируем, что текст не выйдет за пределы экрана */
        word-wrap: break-word; /* Переносим длинные слова */
        margin-right: 7px;
    }
}

@media (max-width: 375px) {
    .history-container {
        padding: 25px;
        overflow-x: hidden; /* Убираем горизонтальный скроллинг */
    }

    .history-title {
        font-size: 1.6rem; /* Уменьшаем размер заголовка */
        margin-bottom: 20px;
        margin-right: 7px;
    }

    .history-paragraph,
    .history-a {
        font-size: 1.2rem; /* Уменьшаем шрифт */
    /margin: 15px auto;
        max-width: 100%; /* Гарантируем, что текст не выйдет за пределы экрана */
        word-wrap: break-word; /* Переносим длинные слова */
        margin-right: 7px;
    }

    .history-subtitle {
        font-size: 1.5rem; /* Уменьшаем размер подзаголовков */
        margin-top: 30px;
        margin-right: 7px;
    }

    .history-a {
    /margin: 8px auto;
        margin-right: 7px;
    }

    .history-paragraph-2 {
        font-size: 1.2rem; /* Уменьшаем шрифт */
        max-width: 100%; /* Гарантируем, что текст не выйдет за пределы экрана */
        word-wrap: break-word; /* Переносим длинные слова */
        margin-right: 7px;
    }
}

@media (max-width: 320px) {
    .history-container {
        padding: 25px;
        overflow-x: hidden; /* Убираем горизонтальный скроллинг */
    }

    .history-title {
        font-size: 1.5rem; /* Уменьшаем размер заголовка */
        margin-bottom: 20px;
        margin-right: 7px;
    }

    .history-paragraph,
    .history-a {
        font-size: 1.2rem; /* Уменьшаем шрифт */
    /margin: 15px auto;
        max-width: 100%; /* Гарантируем, что текст не выйдет за пределы экрана */
        word-wrap: break-word; /* Переносим длинные слова */
        margin-right: 7px;
    }

    .history-subtitle {
        font-size: 1.5rem; /* Уменьшаем размер подзаголовков */
        margin-top: 30px;
        margin-right: 7px;
    }

    .history-a {
    /margin: 8px auto;
        margin-right: 7px;
    }

    .history-paragraph-2 {
        font-size: 1.2rem; /* Уменьшаем шрифт */
        max-width: 100%; /* Гарантируем, что текст не выйдет за пределы экрана */
        word-wrap: break-word; /* Переносим длинные слова */
        margin-right: 7px;
    }
}
