/* Контейнер страницы */
.history-container {
    text-align: center;
    padding: 20px;
    background-image: url('../assets/images/main-final-tochno.svg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.history-list {
    list-style-type: disc;
    text-align: left;
    margin: 20px auto;
    padding-left: 40px;
    max-width: 1000px; /* Увеличиваем максимальную ширину списка */
}

.history-item {
    margin: 10px 0; /* Отступы между элементами списка */
    font-size: 1.5rem;
}

/* Заголовок страницы */
.history-title {
    margin-top: 50px;
    color: #000000;
    margin-bottom: 30px;
}

/* Абзацы текста */
.history-paragraph {
    font-size: 1.5rem;
    margin: 20px auto;
    text-align: justify;
    max-width: 1100px; /* Увеличиваем максимальную ширину */
    padding-left: 2rem;
    color: #272626;
    line-height: 1.8;
    text-indent: 2rem; /* Добавляем табуляцию в начало абзаца */
}

/* Подзаголовок */
.history-subtitle {
    color: #000000;
    margin-top: 40px;
}

/* Стили для ссылок */
.history-list li {
    margin: 10px 0;
}

/* Стили для ссылок */
.history-a {
    font-size: 1.2rem;
    color: #2a5d9e;
    text-decoration: none;
}

.history-a:hover {
    color: #1d3f6e;
    text-decoration: underline;
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
    .history-container {
        padding: 25px;
        overflow-x: hidden;
    }

    .history-title {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }

    .history-paragraph,
    .history-a {
        font-size: 1.2rem;
        max-width: 100%;
        word-wrap: break-word;
    }

    .history-subtitle {
        font-size: 1.5rem;
        margin-top: 30px;
    }

    .history-a {
        margin: 8px auto;
    }
}

@media (max-width: 425px) {
    .history-container {
        padding: 25px;
        overflow-x: hidden;
    }

    .history-title {
        font-size: 1.8rem;
        margin-bottom: 20px;
        margin-right: 7px;
    }

    .history-paragraph,
    .history-a {
        font-size: 1.2rem;
        max-width: 100%;
        word-wrap: break-word;
        margin-right: 7px;
    }

    .history-subtitle {
        font-size: 1.5rem;
        margin-top: 30px;
        margin-right: 7px;
    }

    .history-a {
        margin-right: 7px;
    }
}

@media (max-width: 375px) {
    .history-container {
        padding: 25px;
        overflow-x: hidden;
    }

    .history-title {
        font-size: 1.6rem;
        margin-bottom: 20px;
        margin-right: 7px;
    }

    .history-paragraph,
    .history-a {
        font-size: 1.2rem;
        max-width: 100%;
        word-wrap: break-word;
        margin-right: 7px;
    }

    .history-subtitle {
        font-size: 1.5rem;
        margin-top: 30px;
        margin-right: 7px;
    }

    .history-a {
        margin-right: 7px;
    }
}

@media (max-width: 320px) {
    .history-container {
        padding: 25px;
        overflow-x: hidden;
    }

    .history-title {
        font-size: 1.5rem;
        margin-bottom: 20px;
        margin-right: 7px;
    }

    .history-paragraph,
    .history-a {
        font-size: 1.2rem;
        max-width: 100%;
        word-wrap: break-word;
        margin-right: 7px;
    }

    .history-subtitle {
        font-size: 1.5rem;
        margin-top: 30px;
        margin-right: 7px;
    }

    .history-a {
        margin-right: 7px;
    }
}
