.partners-section {
    position: relative;
    padding: 2rem;
    text-align: center;
    color: #333;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.partners-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(10px);
    z-index: 1;
}

.partners-content {
    position: relative;
    z-index: 2;
}

.partners-section h2 {
    font-size: 5rem;
    margin-bottom: 8rem;
}

.partners-section p {
    font-size: 1rem;
}

.partners-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}

.partner-item {
    /display: table-row;
    flex-direction: column;
    width: 150px;
    text-align: center;
    /*justify-content: center;*/
    justify-content: space-between;
    align-items: center;
}

.partner-logo {

    width: 100px;
    height: auto;
    margin-bottom: 0.5rem;
}

.partner-a {

    color: #2a5d9e;
    text-decoration: none;
    word-break: break-word;
}

.partner-a:hover {
    color: #1d3f6e; /* Изменяем цвет ссылки при наведении */
    text-decoration: underline; /* Добавляем подчеркивание */
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
    .partners-section h2 {
        font-size: 3.5rem; /* Уменьшаем размер заголовка для мобильных */
        margin-bottom: 2rem; /* Уменьшаем отступ */
    }

    .partners-list {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Меньшая минимальная ширина элементов */
        gap: 10px; /* Уменьшаем расстояние между элементами */
    }

    .partner-item {
        padding: 8px; /* Уменьшаем внутренние отступы */
        border: none; /* Убираем рамку для упрощения дизайна */
        box-shadow: none; /* Убираем тень */
    }

    .partner-logo {
        width: 70px; /* Уменьшаем размер логотипов */
        height: auto;
        margin-bottom: 5px;
    }
}

@media (max-width: 500px) {
    .partners-section h2 {
        font-size: 3rem; /* Уменьшаем размер заголовка для мобильных */
        margin-bottom: 2rem;
        margin-top: 2rem/* Уменьшаем отступ */
    }

    .partner-item {
        width: 120px; /* Уменьшаем ширину логотипов на мобильных */
    }

    .partners-list {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); /* Меньшая минимальная ширина */
    }

    .partner-logo {
        width: 80px; /* Уменьшаем размер логотипов на мобильных */
    }
}

@media (max-width: 425px) {
    .partners-section h2 {
        font-size: 2.5rem; /* Уменьшаем размер заголовка для мобильных */
        margin-bottom: 1rem; /* Уменьшаем отступ */
        margin-top: 1.6rem; /* Уменьшаем отступ */
    }

    .partners-list {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); /* Меньшая минимальная ширина */
    }

    .partner-item {
        width: 115px; /* Уменьшаем ширину логотипов на мобильных */
    }

    .partner-logo {
        width: 80px; /* Уменьшаем размер логотипов на мобильных */
    }

    .partner-a {
        font-size: 0.8rem; /* Ещё меньше размер текста */
    }
}

@media (max-width: 375px) {
    .partners-section h2 {
        font-size: 2.7rem; /* Уменьшаем размер заголовка для мобильных */
        margin-bottom: 1rem; /* Уменьшаем отступ */
        margin-top: 2rem; /* Уменьшаем отступ */
    }

    .partners-list {
        grid-template-columns: repeat(2, 1fr); /* Ограничиваем два элемента в ряд */
        gap: 5px; /* Ещё меньше расстояние между элементами */
    }

    .partner-item {
        padding: 5px; /* Минимальные отступы */
    }

    .partner-logo {
        width: 80px; /* Минимальный размер логотипов */
    }

    .partner-a {
        font-size: 0.8rem; /* Минимальный размер текста */
    }
}